body {
  font-family: "Roboto", sans-serif;
}
p {
  text-align: justify;
}
.wellcome-part,
.missoin-part {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 50px;
  line-height: 40px;
}
.half-width {
  width: 40%;
  padding: 0 5%;
}
span {
  color: orangered;
}
.border-left {
  border-left: 3px solid orangered;
  padding-left: 10px;
}
.half-width img {
  width: 70%;
}
button {
  border: none;
  margin: 20px 0;
}
.button {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 20px;
  background-color: chocolate;
  border-radius: 5px;
}
.button:hover {
  background-color: orange;
}
.my-mission {
  text-align: center;
  width: 100%;
  margin: 50px 0;
}
.three-part-area {
  width: 25%;
  margin-left: 3%;
  padding: 2% 2%;
}
.three-part-area img {
  width: 50%;
}
.last-part {
  background-color: palegoldenrod;
}
h3 {
}
