body {
  font-family: "Roboto", sans-serif;
}
p {
  text-align: justify;
}
.wellcome-part {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 50px;
  line-height: 40px;
}
.half-width {
  width: 40%;
  padding: 0 5%;
}
h2 {
  line-height: 20px;
}
.name-color {
  color: orangered;
  font-size: 30px;
}
.border-left {
  border-left: 3px solid orangered;
  padding-left: 10px;
}
.half-width img {
  width: 70%;
}
.button {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 20px;
  background-color: chocolate;
  border-radius: 5px;
}
.button:hover {
  background-color: orange;
}
